@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-size: 56px;
    font-weight: bold;
    line-height: 70px;
  }
  h2 {
  }
  h3 {
  }

  .grid-title{
    font-size: 24px;
    font-weight: bold;
    color: white;

  }
}

@layer components {
  .btn {
    @apply bg-custom-black hover:bg-custom-purple text-white font-bold px-11 py-3 rounded-full h-14 inline-block leading-8 text-base;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.page-width {
  @apply max-w-[1110px] m-auto;
}
